.heading{
    color: white;
    
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
}
#para1
{
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 700px;
    color: rgb(174, 24, 197);
}